html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #321d4d;
    font-family: 'Montserrat', Arial, sans-serif;
}

#app,
.playable-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playable-container {
    position: relative;
    width: 100vw;
    max-width: 420px;
    aspect-ratio: 9/16;
    height: 100vh;
    background: #24153e url('../assets/png/background/Basegame_BG.png') center center / cover;
    overflow: hidden;
}

.slot-area {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    max-width: 360px;
    height: 44%;
    display: flex;
    gap: 7px;
}

.reel {
    position: relative;
    width: 18%;
    height: 100%;
    background: rgba(34, 25, 62, 0.08);
    overflow: hidden;
    border-radius: 14px;
    display: flex;
    justify-content: center;
}

.symbols-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.65s cubic-bezier(.44, .67, .22, .99);
}

.symbol-img {
    height: 52px;
    width: 98%;
    margin: 0 auto;
    display: block;
    transition: filter .1s, transform .18s;
}

.symbol-img.highlight {
    box-shadow: 0 0 16px 8px #ffd900, 0 0 8px 2px #fff;
    border: 2.5px solid #ffe888;
    transform: scale(1.12);
}

.symbol-img.vanish {
    animation: vanishPop .12s cubic-bezier(.91, .1, .81, .9) forwards;
}

@keyframes vanishPop {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    78% {
        opacity: .7;
        transform: scale(.7);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.zeus-img {
    z-index: 4;
    width: 38%;
    max-width: 140px;
    min-width: 90px;
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, 0);
}

.bottom-ui {
    position: absolute;
    z-index: 7;
    bottom: 7%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title,
.text-subtitle {
    text-align: center;
    color: #fff06e;
    margin: 0;
    text-shadow: 0 3px 18px #000b;
}

.text-title {
    font-weight: bold;
    font-size: 2.0em;
    letter-spacing: 2.2px;
    margin-bottom: 3px;
}

.text-subtitle {
    font-size: 1em;
    color: #fff;
}

.btn-main,
.btn-spin,
.btn-bonus {
    width: 180px;
    max-width: 81vw;
    padding: 1.2em 0;
    margin: 17px auto 0 auto;
    border: none;
    border-radius: 14px;
    font-size: 1.4em;
    background: linear-gradient(90deg, #ffc400 0%, #f55 100%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 12px #0005;
}

@media only screen and (max-width:540px) {
    .slot-area {
        max-width: 99vw;
    }

    .playable-container {
        border-radius: 0;
        box-shadow: none;
    }
}